/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
html, body, p, div{
margin:0;
padding:0;
font-size:inherit;

}





#container{
    width:600px;
    margin:0 auto;
    outline:1px solid #cecab9;
    
    overflow:hidden;
    margin-top:15px;
}


#menu
{
    background-color:#51473d;
    height:36px;
    display:block;
    overflow:hidden;
}



#topbar{
    color: #eae7d2;
    font-style:italic;
    font-size: 12px;
     display:block;
     text-align:right;
    background:url("pics/coffey.jpg");
     height:233px;
     background-position:center center; 
     background-repeat:no-repeat;
     background-color:#51473d;
     
}


#menu a{
    display:none;
}

#menu ul{
    width: 100%;
	float: left;
	margin: 0 0 25px 0;
	padding: 0;
	list-style: none;
    margin-left:15px;
}
#menu ul li{
    float:left;
}

#menu ul li a{
    display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #eae7d2;
	background-color:#797066;
	text-transform:capitalize;
	border-right:1px solid #51473d;
	border-top:1px solid #847c73;
}

#menu li a:hover {
	color: #797066;
	 background-color:#eae7d2;
}

#menu .active a {
	 color: #797066;
	 background-color:#eae7d2;

}


#content{
    
    color:#797066;
    height:400px;
    margin-top:0;
    padding:0;
    background-color:#eae7d2;
    clear:both;
    
}

#maincontent h1 {
    font-size:32px;
    margin-left:10px;
}

#maincontent{
    float:left;
    width:65%;
    border-right: 1px dashed #797066;
}

#maincontent p{
    margin:10px;
    font-family:Times New Roman;
}

#maincontent img{
    float:left;
    margin-right:5px;
    margin-left:10px;
}

#subcontent{
    float:right;
    width:32%;
    margin-right:10px;
    margin-top:25px;
    
}

#subcontent h1{
    font-size:17px;
}

#subcontent h2{
    font-size:15px;
}

#subcontent p{
    
    font-size:12px;
    font:11px Verdana;
}

#subcontent a{
    
    color:#797066;
}

#subcontent ul{
    list-style:none;
    margin:0;
    padding:0;
}

#bottomcontent{
    clear:both;
    margin-left:10px;
    font-style:italic;
    font-size:13px;
    
}